<div class='align-center'>
  <h3> Cotação do dólar últimos 7 dias </h3>

  <div id='quotations-chart'></div>

  <%= link_to 'Cotação do Real', dashboards_path, class: 'button', id: 'target-brl-button', remote: true %>
  <%= link_to 'Cotação do Euro', dashboards_path, class: 'button', id: 'target-eur-button', remote: true %>
  <%= link_to 'Cotação do Peso Argentino', dashboards_path, class: 'button', id: 'target-ars-button', remote: true %>
</div>